[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[init]
        defaultBranch = main
[includeIf "gitdir:~/"]
  path = ~/.identityconfig
[includeIf "gitdir:/Users/benjaminpollak/work/"]
  path = /Users/benjaminpollak/work/.gitconfig
[url "git@github.com:"]
	insteadOf = https://github.com/
	insteadOf = https://github.com/
[alias]
	blame = blame -w
	blaame = blame -w -C
	blaaame = blame -w -C -C
	blaaaame = blame -w -C -C -C
	wdiff = diff --word-diff
	cbranch = branch --column # TODO: test
	fpush = push --force-with-lease # TODO: test
[branch]
	sort = -committerdate
[rebase]
	updateRefs = true
