- hosts: localhost
  become: true
  vars:
    the_user: "benjamin"
  pre_tasks:
    - name: Update cache
      apt:
        update_cache: true
      tags:
        - ubuntu
  tasks:
    # Ordering is intentional, DO NOT ALPHABETIZE!
    - import_tasks: desktop_tasks/dev_tools.yml
    - import_tasks: desktop_tasks/utils.yml
    - import_tasks: desktop_tasks/golang.yml
    - import_tasks: desktop_tasks/python.yml
    - import_tasks: desktop_tasks/git.yml # TODO: add config
    - import_tasks: desktop_tasks/tmux.yml
    - import_tasks: desktop_tasks/stow.yml
    - import_tasks: desktop_tasks/vim.yml
    - import_tasks: desktop_tasks/i3wm.yml
